<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzqs.zhangyushu.dao.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lzqs.zhangyushu.entity.Product">
        <id column="production_id" property="productionId" />
        <result column="production_name" property="productionName" />
        <result column="like_num" property="likeNum" />
        <result column="comment_num" property="commentNum" />
        <result column="create_time" property="createTime" />
        <result column="product_desc" property="productDesc" />
        <result column="sample_reels_id" property="sampleReelsId" />
    </resultMap>

</mapper>
